<%= form_for(@court_case) do |f| %>
  <% if @court_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@court_case.errors.count, "error") %> prohibited this court_case from being saved:</h2>

      <ul>
      <% @court_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :case_no %><br />
    <%= f.text_field :case_no %>
  </div>
  <div class="field">
    <%= f.label :case_title %><br />
    <%= f.text_field :case_title %>
  </div>
  <div class="field">
    <%= f.label :legal_counsel %><br />
    <%= f.text_field :legal_counsel %>
  </div>
  <div class="field">
    <%= f.label :court %><br />
    <%= f.number_field :court %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :case_status %><br />
    <%= f.number_field :case_status %>
  </div>
  <div class="field">
    <%= f.label :is_approved %><br />
    <%= f.check_box :is_approved %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :is_deleted %><br />
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
