<h1>Listing court_cases</h1>

<table>
  <tr>
    <th>Case no</th>
    <th>Case title</th>
    <th>Legal counsel</th>
    <th>Court</th>
    <th>Description</th>
    <th>Case status</th>
    <th>Is approved</th>
    <th>User</th>
    <th>Is deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @court_cases.each do |court_case| %>
  <tr>
    <td><%= court_case.case_no %></td>
    <td><%= court_case.case_title %></td>
    <td><%= court_case.legal_counsel %></td>
    <td><%= court_case.court %></td>
    <td><%= court_case.description %></td>
    <td><%= court_case.case_status %></td>
    <td><%= court_case.is_approved %></td>
    <td><%= court_case.user_id %></td>
    <td><%= court_case.is_deleted %></td>
    <td><%= link_to 'Show', court_case %></td>
    <td><%= link_to 'Edit', edit_court_case_path(court_case) %></td>
    <td><%= link_to 'Destroy', court_case, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Court case', new_court_case_path %>
