<p id="notice"><%= notice %></p>

<p>
  <b>Case no:</b>
  <%= @court_case.case_no %>
</p>

<p>
  <b>Case title:</b>
  <%= @court_case.case_title %>
</p>

<p>
  <b>Legal counsel:</b>
  <%= @court_case.legal_counsel %>
</p>

<p>
  <b>Court:</b>
  <%= @court_case.court %>
</p>

<p>
  <b>Description:</b>
  <%= @court_case.description %>
</p>

<p>
  <b>Case status:</b>
  <%= @court_case.case_status %>
</p>

<p>
  <b>Is approved:</b>
  <%= @court_case.is_approved %>
</p>

<p>
  <b>User:</b>
  <%= @court_case.user_id %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @court_case.is_deleted %>
</p>


<%= link_to 'Edit', edit_court_case_path(@court_case) %> |
<%= link_to 'Back', court_cases_path %>
