<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PCBL</title>
		<%= csrf_meta_tags %>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/pcbl.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
	    <link href="/assets/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
	</head>

	<body class="skin-red layout-top-nav">
		<div class="wrapper">
			<header class="top-head" role="banner"></header>
			<header class="main-header">
				<nav class="navbar navbar-static-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
								<i class="fa fa-bars"></i>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="/"> Dashboard <span class="sr-only">(current)</span></a></li>
								<li><%= link_to "Approved Cases", court_cases_path %></li>
								<li><%#= link_to "UnApproved Cases", unapproved_cases_path %></li>
								<li><%#= link_to "DisApproved Cases", disapproved_cases_path %></li>
								<% if false %>
									<% if can? :create, CourtCase %><li><%= link_to "New Case", new_court_case_path %></li><% end %>
									<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
								<% end %>
							</ul>
							<ul class="pull-right nav navbar-nav" style="margin-right:15px;">
								<li class="active"><a href="javascript:void(0);" style="cursor: default;">Username: rai<%#= current_user.username %> login as <%#= current_user.role %>admin</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</header>

			<%= yield %>
			
			<footer class="main-footer">
				<div class="container-fluid">
					<strong>Copyright &copy; PITB</strong> All rights reserved.
				</div>
			</footer>
		</div>

		
		<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<%= javascript_include_tag "application" %>
		<script src="/assets/app.min.js" type="text/javascript"></script>
		<script src="/assets/demo.js" type="text/javascript"></script>		
		<script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/assets/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
		<script src="/assets/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
		
		<script type="text/javascript">
			$(function () {
				$("#example1").dataTable();
				$('.example2').dataTable({
					"bPaginate": true,
					"bLengthChange": false,
					"bFilter": false,
					"bSort": false,
					"bInfo": true,
					"bAutoWidth": false,
					"scrollX": true
				});
			});

			$(function() {
				$( ".datepicker" ).datepicker({
					format: "dd-mm-yyyy",
					autoclose: true
				});
			});
			$(document).on('nested:fieldAdded', function(event){
				$( ".datepicker" ).datepicker({
					format: "dd-mm-yyyy",
					autoclose: true
				});
			});
		</script>
	</body>
</html>
