<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PCBL</title>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/pcbl.css" rel="stylesheet" type="text/css" />
		<link href="/assets/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="login-page">
		<div class="login-box">
			<div class="login-box-body">
				<div class="login-logo">
					<a href="login.html"><img src="/assets/logo.png" class="img-responsive" /></a>
				</div><!-- /.login-logo -->

				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-group has-feedback">
						<%= f.text_field :username, { class: "form-control", placeholder: "Email", autofocus: true } %>
					</div>
					<div class="form-group has-feedback">
						<%= f.password_field :password, { class: "form-control", placeholder: "Password", autocomplete: "off" } %>
					</div>
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4">
							<%= f.submit "Sign In", { class: "btn btn-primary btn-block btn-flat sign_in_btn" } %>
						</div><!-- /.col -->
					</div>
				<% end %>
			</div><!-- /.login-box-body -->
		</div><!-- /.login-box -->

		<!-- jQuery 2.1.4 -->
		<script src="/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<!-- Bootstrap 3.3.2 JS -->
		<script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	</body>
</html>
